.background{
	background-image: url(../images/banner-background.jpg);
	background-repeat: no-repeat;
	background-position: center;

background-size: cover;
}

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap');

body{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fffefe;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: normal;
    position: relative;
    padding-left: 0;
    padding-right: 0;
    margin-left: 22px;
}
.navbar-dark .navbar-nav .nav-link::before{
	content: "";

	width: 0;
	height: 2px;
	background-color: #008ed6;
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	transition-duration:0.3s;
}
.navbar-dark .navbar-nav .nav-link:hover::before{
	width: 45%;
}
.navbar-dark .navbar-nav .nav-link::after{
	content: "";	

	width: 0;
	height: 2px;
	background-color: #008ed6;
	position: absolute;
	bottom: 0;
	right: 0;
	transition-duration:0.3s;
}
.navbar-dark .navbar-nav .nav-link:hover::after{
	width: 45%;
}
h1{font-size: 36px;font-weight: bold;color: #23232b;}
h3{font-size: 14px;color: #008ed6;text-transform: uppercase;font-weight: bold;}
p{color: #7f7f7f;font-size: 18px;}

.banner-content{color: #fff;}
.banner-content p{margin-bottom: 80px;}
.banner-content h1{font-size: 48px;font-weight: normal;margin: 20px 0;color: #fff;}
.btn-custom{color: white;background-color: #038ed6;font-size: 18px;padding: ;text-transform: uppercase;padding: 10px 18px;}
.btn-custom:hover{border: 1px solid #737f7f;color: #fff;background-color: #038ed600}
.btn-outline-custom{border: 1px solid #737f7f;color: #fff;font-size: 18px;padding: ;text-transform: uppercase;padding: 10px 18px;}
.btn-outline-custom:hover{color: white;background-color: #038ed6;}
header .row{padding-top: 100px;align-items: center;}

.feature-section{padding: 60px 0;}
.heading{text-align: center;margin-bottom: 70px;}
h2{}
.heading h3{}
.heading h1{}
.heading span{width: 42px;height: 2px;display: block;margin: auto;/*! background-color: gray; */position: relative;}
.heading span::before{
	content: "";
	position: absolute;
	width: 45%;
	height: 100%;
	background-color: #2f8ed6;
	left: 0;
}
.heading span::after{
	content: "";
	position: absolute;
	width: 45%;
	height: 100%;
	background-color: #2f8ed6;
	right: 0;
}
.features{text-align: center;}
.features span{
	font-size: 30px;
	width: 90px;
	height: 90px;
	display: block;
	border: 1px solid #80808036;
	border-radius: 50%;
	line-height: 90px;
	color: #008ed6;
	margin: auto;
}
.features h2{margin: 25px 0 10px;color: black;font-size: 24px;}
.features span i{}
.features p{}
.about-section .heading{
	text-align: left;
}
.about-section .heading span{
	margin: 0;
}